<!-- call to action -->
<form class="registration">
    <h2 class="registration__title">Registration</h2>
    <div class="registration-info">
        <p class="registration-info__date">May 23, 11:00 New York</p>   
        <p class="registration-info__price">$ 699</p>
     </div>
    <div class="registration-field">
        <p class="registration-field__text">Apply your personal info
            for registration </p>
        <input class="name registration-field__input" name="name" id="name" placeholder="Your name" required/>
        <label for="name" class="registration-field__lable"></label>
        <input class="phone registration-field__input" name="phone" id="phone" placeholder="Phone number" required/>
        <label for="phone" class="registration-field__lable"></label>
        <input class="email registration-field__input" name="email" id="email" placeholder="E-mail" required/>
        <label for="email" class="registration-field__lable"></label>
        <button type="submit" class="registration-field__call">Register</button>
    </div>
</form>
